@font-face
{
font-family: harenosora-mincho;
src: url('https://cdn.leafscape.be/Harenosora/harenosora_web.woff2')
     format("woff2");
}

/* * {
    margin: 0;
    padding: 0;
} */

.letter {
    color: rgb(179, 187, 190);
    font-family: harenosora-mincho;
}

body {
    background-color: rgb(248, 236, 222);
    margin: 0;
    padding: 0;
    min-width: 800px;
}

/*/////////////////// ヘッダー ///////////////////*/
header {
    z-index: 1;
    position: absolute;
    display: flex;
    height: 70px;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

div.header-img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    /* top: 10px; */
    /* left: 60px; */

}

div.header-img > img {
    width: 70px;
    height: 70px;
    top: 10px;
    /* margin-left: 20px; */
}

div.header-a  {
    margin-left: auto;
}

ul.nav {
    list-style: none;
    overflow: hidden;
}

ul.nav > li {
    float: left;
    margin-right: 10px;
}


/*/////////////////// トップ ///////////////////*/
.content {
    min-width: 800px;
}

section {
    display: block;
}

section.top {
    /* width: 100vw; */
    position: relative;
}

div.top-image {
    /* width: 100vw; */
    height: 450px;
}

img.top-image-pc {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

div.top-p{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

p.head {
    font-size: 50px;
    background-color: rgb(255, 255, 255, 0.6);
}


/*///////////////////////// 検索ボックス /////////////////////////*/
div.search-box-bg {
    margin:0 auto;
    background-color: rgb(243, 246, 246, 0.5);
    /* background-color: rgb(28, 30, 30); */
    width: 50%;
    height: 100px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
    position: absolute;
    top: 400px;
    /* left: 25%; */
    right: 0;
    left: 0;
    min-width: 700px;

}

div.search-box {
    width: 100%;
    /* height: 100px; */
    text-align : center;
    /* vertical-align: middle; */
    /* margin: auto; */
}

div.search-box > form {
    display:inline-block;
    /* vertical-align: middle; */
    margin-top: 28px;
}

input.search-text-box {
    width: 400px;
    height: 40px;
}
select.search-select-box {
    height: 40px;
    width: 80px;
}
input.search-select-submit {
    height: 40px;
    width: 60px;
}


/*////////////////////////// 検索結果表示 //////////////////////////*/
div.show-cards-wrapper {
    margin-top: 80px;
    text-align: center;
    /* display: flex; */
    margin-right: auto;
    margin-left: auto;
}

div.show-cards-area {
    display: flex;
    flex-wrap: wrap;
}

div.dask-card {
    /* margin: 30px; */
    width: 300px;
    height: 200px;
    min-width: 300px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}


img.dask-card-image {
    width: 260px;
    height: auto;
}

/* //////////////フッター//////////////// */

footer {
    background-color: rgb(243, 243, 243);
    text-align: center;
}
