/*/////////////////// フォント関連 ///////////////////*/
@font-face
{
font-family: harenosora-mincho;
src: url('https://cdn.leafscape.be/Harenosora/harenosora_web.woff2')
     format("woff2");
}

h1 {
    font-size: 45px;
    font-weight: normal;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}

a, p, h1, h2, h3, h4, h5, input, textarea {
    color: rgb(90, 97, 100);
}



/* * {
    margin: 0;
    padding: 0;
} */

a {
    text-decoration:none;
}

.letter {
    color: rgb(179, 187, 190);
    font-family: harenosora-mincho;
}

html {
    height: 100%;
}

body {
    background-color: rgb(248, 236, 222);
    margin: 0;
    padding: 0;
    min-width: 1100px;
}

/* ボタンを押したら沈む */
.sink-button:active{
	transition: 0.2s;
	transform: translate3d(0,4px,0);
	box-shadow: none;
}


/*/////////////////// ヘッダー ///////////////////*/
header {
    z-index: 1;
    position: absolute;
    display: flex;
    height: 70px;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

div.header-img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    /* top: 10px; */
    /* left: 60px; */

}

div.header-img > a > img {
    width: 70px;
    height: 70px;
    top: 10px;
    /* margin-left: 20px; */
}

div.header-a  {
    margin-left: auto;
}

ul.nav {
    list-style: none;
    overflow: hidden;
}

ul.nav > li {
    float: left;
    margin-right: 10px;
}


/*/////////////////// トップ ///////////////////*/
.content {
    min-width: 800px;
}

section {
    display: block;
}

section.top {
    /* width: 100vw; */
    position: relative;
}

div.top-image {
    /* width: 100vw; */
    height: 450px;
}

img.top-image-pc {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.7s;
}

div.top-p{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

p.head {
    font-size: 50px;
    background-color: rgb(255, 255, 255, 0.6);
}


/*///////////////////////// 検索ボックス /////////////////////////*/
div.search-box-bg {
    margin:0 auto;
    background-color: rgb(243, 246, 246, 0.5);
    /* background-color: rgb(28, 30, 30); */
    width: 50%;
    height: 100px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
    position: absolute;
    top: 400px;
    /* left: 25%; */
    right: 0;
    left: 0;
    min-width: 700px;

}

div.search-box {
    width: 100%;
    /* height: 100px; */
    text-align : center;
    /* vertical-align: middle; */
    /* margin: auto; */
}

div.search-box > form {
    display:inline-block;
    /* vertical-align: middle; */
    margin-top: 28px;
}

input.search-text-box {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
}
select.search-select-box {
    height: 45px;
    width: 80px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
}
input.search-select-submit {
    height: 45px;
    width: 60px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
}


/*////////////////////////// 検索結果表示 //////////////////////////*/
div.show-cards-wrapper {
    margin-top: 80px;
    text-align: center;
    /* display: flex; */
    margin-right: auto;
    margin-left: auto;
}

div.show-cards-area {
    display: flex;
    flex-wrap: wrap;
}

div.desk-card {
    /* margin: 30px; */
    width: 300px;
    height: 300px;
    border-radius: 15px;
    min-width: 300px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    position: relative;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);

    overflow: hidden;
}

img.desk-card-image {
    /* margin-top: 20px; */
    width: 310px;
    height: auto;
    max-height: 200px;
}

img.desk-card-icon{
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    left: 20px;
}
/*/////////// 音楽用タグ /////////////*/
div.category-tag-music {
    position: absolute;
    z-index: 2;
    /* top: 100; */
    background-color: rgb(255, 112, 112,0.8);
    width: 200px;
    height: 40px;
    border-radius: 3px;
    /* left: 10; */
    margin-left: 170px;
    margin-top: 10px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);

    transform:rotate(45deg);
}

div.category-tag-music > a > h4 {
    margin: 0;
    line-height: 40px;
    color: white;
    font-family: harenosora-mincho;
}
/*/////////// 動画用タグ /////////////*/
div.category-tag-movie {
    position: absolute;
    z-index: 2;
    /* top: 100; */
    background-color: rgb(255, 200, 91, 0.8);
    width: 200px;
    height: 40px;
    border-radius: 3px;
    /* left: 10; */
    margin-left: 170px;
    margin-top: 10px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);

    transform:rotate(45deg);
}

div.category-tag-movie > a > h4 {
    margin: 0;
    line-height: 40px;
    color: white;
    font-family: harenosora-mincho;
}

/*/////////// イラスト用タグ /////////////*/
div.category-tag-illust {
    position: absolute;
    z-index: 2;
    /* top: 100; */
    background-color: rgb(254, 168, 115, 0.8);
    width: 200px;
    height: 40px;
    border-radius: 3px;
    /* left: 10; */
    margin-left: 170px;
    margin-top: 10px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);

    transform:rotate(45deg)
}

div.category-tag-illust  > a > h4 {
    margin: 0;
    line-height: 40px;
    color: white;
    font-family: harenosora-mincho;
}
/* ////////////////////////// */
div.user-name {
    height: 20px;
    width: 100px;
    margin-left: 95px;
}

div.user-name > h4 {
    height: 20px;
    margin: 0;
    color: rgb(101, 110, 110);
    font-family: harenosora-mincho;
}

div.user-message {
    height: 60px;
    width: 180px;
    margin-left: 110px;
    overflow-wrap: break-word;
}

div.user-message > h5 {
    margin: 0;
    height: 60px;
    width: 180px;
    text-align: left;
    float: left;
    overflow: hidden;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.posted-back-to-top {
    height: 50px;
}



/* //////////////フッター//////////////// */

footer {
    background-color: rgb(243, 243, 243);
    text-align: center;
}


