/*/////////////////// フォント関連 ///////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Titillium+Web:wght@300&family=Zen+Kaku+Gothic+New:wght@300&display=swap');
input, textarea, h5, p, figure {
    color: rgb(90, 97, 100);
}
a, h1, h2, h3, h4 {
    color: #8f8153;
}

.letter-eng {
    font-family: 'Titillium Web', sans-serif;
}
.letter-title {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.letter-ja {
    font-family: 'Sawarabi Gothic', sans-serif;
}

@font-face
{
font-family: harenosora-mincho;
src: url('https://cdn.leafscape.be/Harenosora/harenosora_web.woff2')
     format("woff2");
}

.letter {
    color: #8f8153;
    font-family: harenosora-mincho;
}

::placeholder {
    color: rgb(202, 202, 202);
  }

h1 {
    font-size: 45px;
    font-weight: normal;
}
h2 {
    font-size: 40px;
    font-weight: normal;
}
h3 {
    font-size: 25px;
    font-weight: normal;
}

a {
    text-decoration:none;
    font-size: 18px;
}


html{
    height: auto;
}

/* ボタンを押したら沈む */
.sink-button:active{
    transition: 0.2s;
	transform: translate3d(0,4px,0);
	box-shadow: none;
    background-color: rgb(204, 207, 209);
}
/* カーソルを合わせると透明に */
.mouse-hover-transparent:hover {
    opacity: 0.6;
}

/* カーソルを合わせると拡大 */
.mouse-hover-expansion:hover {
    transform: scale(1.1, 1.1);
}

.mouse-hover-pointer {
    cursor: pointer;
}

/* OSごとのスタイルをリセット */
input[type="button"]{
    -webkit-appearance: none;
}
input[type="submit"]{
    -webkit-appearance: none;
}
select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url('/images/select_triangle.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
}


/* PC用 */
/* @media screen and (min-width: 450px) { */
/* @media screen and (min-width: 851px) { */
@media screen and (hover: hover) {

    body {
        background-image: url('/images/subtle_white_mini_waves.png');
        margin: 0;
        padding: 0;
        min-width: 1100px;
        height: 100%;

        /* border: rgb(101, 110, 110);
        border-style: solid; */

        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /*/////////////////// ヘッダー ///////////////////*/
    header {
        z-index: 1;
        position: absolute;
        display: flex;
        height: 70px;
        width: 100%;
        min-width: 1100px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    div.header-img {
        /* width: 70px; */
        height: 70px;
        margin-left: 20px;
        /* top: 10px; */
        /* left: 60px; */

    }
    div.header-img > a > img {
        /* width: 70px; */
        height: 70px;
        top: 10px;
        /* margin-left: 20px; */
    }

    .smartphone-footer-nav {
        display: none;
    }

    div.header-a  {
        margin-left: auto;
    }

    ul.nav {
        list-style: none;
        overflow: hidden;
        margin-right: 10px;
    }

    ul.nav > li {
        float: left;
        /* margin-right: 10px; */
        border-left: 1px solid rgb(179, 187, 190);
        border-right: 1px solid rgb(179, 187, 190);
        padding-left: 5px;
        padding-right: 5px;
    }

    ul.nav >li+ li {
      border-left: 0;
      border-right: 1px solid rgb(179, 187, 190);
    }

    .logout-form {
        position: absolute;
    }

    /*///////////////////////// 検索ボックス /////////////////////////*/
    div.search-box-bg {
        margin:0 auto;
        width: 100%;
        min-width: 1100px;
        height: 100px;
        position: absolute;
        top: 400px;
    }

    div.search-box {
        width: 700px;
        height: 100px;
        text-align : center;

        background-color: rgb(243, 246, 246, 0.5);
        border-radius: 10px;
        border: solid 1px;
        border-color: rgb(198, 202, 202);
        /* position: relative; */

        margin: auto;
    }

    div.search-box > form {
        display:inline-block;
        /* vertical-align: middle; */
        margin-top: 28px;
    }

    input.search-text-box {
        width: 400px;
        height: 40px;
        border-radius: 10px;
        border: solid 1px;
        border-color: rgb(198, 202, 202);
    }
    select.search-select-box {
        height: 45px;
        width: 80px;
        border-radius: 10px;
        border: solid 1px;
        border-color: rgb(198, 202, 202);
    }
    input.search-select-submit {
        height: 45px;
        width: 60px;
        border-radius: 10px;
        border: solid 1px;
        border-color: rgb(198, 202, 202);
    }

    /*/////////////////// トップ ///////////////////*/
    .content {
        /* min-width: 1100px; */
        width: 100%;
    }

    section {
        display: block;
    }

    section.top {
        /* width: 100vw; */
        position: relative;
    }

    div.top-image {
        /* width: 100vw; */
        height: 450px;
    }

    img.top-image-pc {
        display: block;
        width: 100%;
        height: 450px;
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.7s;
    }

    div.top-p{
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }

    p.head {
        font-size: 50px;
        background-color: rgb(255, 255, 255, 0.6);
    }



}







/*////////////////////////// 検索結果表示 //////////////////////////*/
div.show-cards-wrapper {
    margin-top: 80px;
    text-align: center;
    /* display: flex; */
    margin-right: auto;
    margin-left: auto;
}

div.show-cards-area {
    display: flex;
    flex-wrap: wrap;
}

div.desk-card {
    /* margin: 30px; */
    width: 300px;
    height: 300px;
    border-radius: 15px;
    min-width: 300px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    position: relative;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);

    overflow: hidden;
}

div.desk-card-image-area {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 8px;
}

img.desk-card-image {
    /* width: 300px;
    height: auto; */
    width: auto;
    height: 200px;
    max-height: 200px;
}

img.desk-card-user-icon{
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    left: 20px;
    border-radius: 40px;
}

/*/////////// 音楽用タグ /////////////*/
.music-tag {
    background-color: rgb(255, 112, 112,0.8);
}
.movie-tag {
    background-color: rgb(255, 200, 91, 0.8);
}
.illust-tag {
    background-color: rgb(254, 168, 115, 0.8);
}
.unselected-tag {
    background-color: rgba(205, 205, 205, 0.8);
}

div.category-tag {
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    margin-left: 170px;
    margin-top: 10px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    transform:rotate(45deg);
}

div.category-tag > a > h4 {
    margin: 0;
    line-height: 40px;
    color: white;
    /* font-family: harenosora-mincho; */
}

/* ////////////////////////// */
div.user-name {
    height: 30px;
    /* width: 100px; */
    /* margin-left: 110px; */
}

div.user-name > h3 {
    height: 30px;
    margin: 0;
    margin-left: 110px;
    color: rgb(101, 110, 110);
    font-family: harenosora-mincho;
    text-align: left;
}

div.user-message {
    height: 50px;
    width: 180px;
    margin-left: 110px;
    overflow-wrap: break-word;
}

div.user-message > h5 {
    margin: 0;
    height: 50px;
    width: 180px;
    text-align: left;
    float: left;
    overflow: hidden;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.posted-back-to-top {
    height: 50px;
}



/* //////////////フッター//////////////// */

div.footer {
    background-color: rgb(243, 243, 243);
    /* height: 100px; */
    margin-top: auto;
}

footer {
    text-align: center;
}




/* /////////////ペジネーション//////////// */
div.pagenate {
    height: 50px;
}


li.page-item {

    list-style: none;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.pagination {
    display: inline-block;
    font-size: 20px;
    margin: auto;
    padding: 0px;
    color: rgb(156, 190, 190);
}



/*///////////////////////////////////
            スマホ・タブレット用
///////////////////////////////////*/
/* @media screen and (max-width: 449px) { */
/* 横に倒した時のサイズ */
@media screen and (max-width: 1200px) and (hover: none) and (pointer: coarse) {

    h1 {
        font-size: 45px;
        font-weight: normal;
    }
    h2 {
        font-size: 40px;
        font-weight: normal;
    }
    h3 {
        font-size: 25px;
        font-weight: normal;
    }


    body {
        /* background-image: url('/images/subtle_white_mini_waves.png'); */
        /* background-color: #d4e2e2; */
        background-color: #d6cdb2;
        margin: 0;
        padding: 0;
        min-width: 100vw;
        /* border: rgb(101, 110, 110);
        border-style: solid; */

        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /*/////////////////// ヘッダー ///////////////////*/
    header {
        z-index: 1;
        position: absolute;
        display: flex;
        height: 70px;
        width: 100%;
        /* min-width: 1100px; */
        margin: auto;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(243, 243, 243); */
        /* background-color: rgb(226, 225, 224); */
        background-color: #d6cdb2;
        /* box-shadow:  0 5px 15px 0 rgba(0, 0, 0, .5); */
        border-bottom: 1px solid #a99b6d;
    }

    div.header-img {
        /* width: 70px; */
        height: 50px;
        margin: auto;
    }

    div.header-img > a > img {
        /* width: 70px; */
        height: 50px;
        top: 10px;
        /* margin-left: 20px; */
    }
    div.header-a  {
        margin-right: auto;
    }



    /*/////////////////// トップ ///////////////////*/
    .content {
        /* min-width: 1100px; */
        width: 100%;
    }

    section {
        display: block;
    }

    section.top {
        /* width: 100vw; */
        position: relative;
    }

    div.top-image {
        /* width: 100vw; */
        height: 350px;
    }

    img.top-image-pc {
        display: block;
        width: 100%;
        height: 350px;
        /* overflow: hidden; */
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.7s;
    }

    p.head {
        font-size: 30px;
        background-color: rgb(255, 255, 255, 0.6);
    }
    div.top-p{
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }

    /*////////////////////////// 検索結果表示 //////////////////////////*/
    div.show-cards-wrapper {
        margin-top: 60px;
        text-align: center;
        /* display: flex; */
        margin-right: auto;
        margin-left: auto;
    }

    div.show-cards-area {
        display: flex;
        flex-wrap: wrap;
    }

    div.desk-card {
        /* margin: 30px; */
        width: 300px;
        height: 300px;
        border-radius: 15px;
        min-width: 300px;
        background-color: white;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        float: left;
        position: relative;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        overflow: hidden;
    }

    div.desk-card-image-area {
        width: 300px;
        height: 200px;
        overflow: hidden;
        margin-bottom: 8px;
    }

    img.desk-card-image {
        /* width: 300px;
        height: auto; */
        width: auto;
        height: 200px;
        max-height: 200px;
    }

    img.desk-card-user-icon{
        position: absolute;
        z-index: 1;
        width: 80px;
        height: 80px;
        left: 20px;
        border-radius: 40px;
    }

    /* メニュー */
    /* スマホではヘッダーではなくフッターで表示 */
    /* .pc-tablet-header-nav {
        display: none;
    } */
    .smartphone-footer-nav {
        display: flex;
        height: 70px;
        width: 100%;
        /* width: auto; */
        margin: auto;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        z-index: 999;
    }

    div.footer-nav-icon {
        /* background-color:  rgb(133, 131, 128); */
        /* background-color:  #517785; */
        background-color:  #645832;
        height: 100%;
        text-align: center;
    }

    .footer-nav-icon > a {
        font-size: 13px;
        color: aliceblue;
    }

    .footer-nav-icon > h5 {
        text-decoration: none;
        font-weight: lighter;
        font-size: 13px;
        color: aliceblue;
        margin: 0;
        padding-top: 2px;
    }

    div.header-a  {
        margin-left: auto;
    }

    ul.nav {
        list-style: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }


    ul.nav > li {
        float: left;
        /* margin-right: 10px; */
        border-left: 1px solid rgb(179, 187, 190);
        border-right: 1px solid rgb(179, 187, 190);
        height: 100%;
        width: 25%;
        box-sizing: border-box;

    }


    ul.nav >li+ li {
      border-left: 0;
      border-right: 1px solid rgb(179, 187, 190);
    }

    .logout-form {
        position: absolute;
    }

    .footer-account-menu {
        /* height: 100px;
        width: 100px;
        position: absolute;
        z-index: 1000;
        background-color: aqua;
        top: 100px; */
        width: 100%;
        /* height: 100%; */
        height: auto;
        /* background: rgba(234, 217, 177, 0.9); */
        background: rgba(248, 245, 236, 0.9);
        color: #fff;
        position: fixed;
        z-index: 999;
        bottom: 70px;
        /* padding-top: 40px; */
        transform: translate(0 ,100%);
        transition: 0.3s ease-out;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    }

    .footer-account-menu.open {
        transform: translate(0, 0);
        transition: 0.3s ease-out;
    }

    ul {
        list-style: none;
    }

    .footer-account-menu > ul > li {
        margin-bottom: 10px;

    }
    .footer-account-menu > ul > li > a {
        font-size: 18px;
    }
    .footer-account-menu > div {
        font-size: 18px;
    }

    .close-footer-account-menu {
        width: 100px;
        margin-bottom: 20px;
        padding-left: 40px;
        color: #8f8153;
    }




    /*///////////////////////// 検索ボックス /////////////////////////*/
    div.search-box-bg {
        margin:0 auto;
        width: 100%;
        /* min-width: 1100px; */
        height: 80px;
        position: absolute;
        top: 305px;
    }

    div.search-box {
        width: 90%;
        height: 80px;
        text-align : center;

        background-color: rgb(243, 246, 246, 0.5);
        border-radius: 10px;
        border: solid 1px;
        border-color: rgb(198, 202, 202);
        /* position: relative; */

        margin: auto;
    }

    div.search-box > form {
        margin-top: 18px;
    }

    input.search-text-box {
        width: 60%;
        height: 40px;
        border-radius: 10px;
        border: solid 1px;
        border-color: rgb(198, 202, 202);
    }

    select.search-select-box {
        height: 45px;
        width: 80px;
        border-radius: 10px;
        border: solid 1px;
        background-color: white;
        border-color: rgb(198, 202, 202);
    }



    /* /////////////メインコンテンツ//////////// */

    .for-main-background-col {
        /* background-color: #fcffff; */
        background-color: #f8f5ec;
    }




    /* //////////////フッター//////////////// */
    div.footer {
        /* margin-bottom: 65px; */
        height: 135px;
        /* background-color: rgb(226, 225, 224); */
        /* background-color: #D1BEA9; */
        background-color: #d6cdb2;
        /* height: 100px; */
        margin-top: auto;
        border-top: 1px solid #a99b6d;
    }

    footer {
        text-align: center;
    }
    footer > h4 {
        margin-top: 10px;
    }

    .footer-nav-form {
        margin-bottom: 0px;
    }

    /* footer > a {
        color: aliceblue;
    } */
}

