/* マイページトップ */

.mypage-links {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

.mypage-links > li {
    padding-bottom: 20px;
}


/* プロフィール更新 */

.myprofile-edit-submit {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
    margin-top: 40px;
    margin-bottom: 40px;
}

.myprofile-edit-message {
    width: 600px;
}



div.myprofile-edit-message > textarea {
    width: 598px;
    height: 200px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
    resize: vertical;
    padding: 0px;
    /* color: rgb(90, 97, 100); */
}

div.myprofile-edit-used-items-exp {
    width: 220px;
    height: 70px;
    margin: 0;
}

select.select-items-logo {
    width: 80px;
    height: 70px;

    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
    resize: vertical;
    padding: 0px;
    /* color: rgb(90, 97, 100); */

}


select.myprofile-edit-used-items {
    height: 20px;
    width: 200px;
    margin-left: 0px;

    margin-top: 9px;
    margin-bottom: 9px;

    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
}


div.myprofile-edit-items-url > input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
    resize: vertical;
    /* color: rgb(90, 97, 100); */
}


.circle-button {
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-color: rgb(160, 173, 173);
    border-radius: 20px;
    resize: vertical;
    font-size: 20px;
}


.add-button {
    position: absolute;
    right: 15px;
    bottom: 80px;
}

.remove-button {
    position: absolute;
    right: 15px;
    bottom: 20px;
}
