/src/laravel/node_modules
/src/laravel/public/hot
/src/laravel/public/storage
/src/laravel/storage/*.key
/src/laravel/vendor
/src/laravel/.env
/src/laravel/.env.backup
/src/laravel/.phpunit.result.cache
/src/laravel/docker-compose.override.yml
/src/laravel/Homestead.json
/src/laravel/Homestead.yaml
/src/laravel/npm-debug.log
/src/laravel/yarn-error.log
/src/laravel/.idea
/src/laravel/.vscode

/docker
/memo.txt
/memo2.txt
/memo3.txt
/docker-compose.yml